@font-face{
    font-family: "roboto";
    src: url("/Fontes/Roboto-Regular.ttf");
    font-weight:400 ;
    font-style: normal;
}
@font-face{
    font-family: "roboto";
    src: url("/Fontes/Roboto-Medium.ttf");
    font-weight:500 ;
    font-style: normal;
}
@font-face{
    font-family: "roboto";
    src: url("/Fontes/Roboto-Bold.ttf";)
    font-weight:700;
    font-style: normal;
}

body{
    font-family: roboto, sans-serif;
}